<!-- components/pricing.html -->
<section id="pricing">
  <h2>Pricing List</h2>
  <div class="pricing-container container">
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price1.jpg" alt="Kemeja / Kaos">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Shirt / T-shirt</h3>
        <p>Segarkan lemari pakaian Anda dengan layanan pembersihan kemeja/kaos kami yang ahli!</p>
        <p class="item-price">Harga: Rp25.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price2.jpg" alt="Sepatu Olahraga">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Shoes Sports</h3>
        <p>Tampil gaya dengan layanan pembersihan sepatu premium kami!</p>
        <p class="item-price">Harga: Rp50.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price3.jpg" alt="Boneka (Besar)">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Stuff Toy (Big)</h3>
        <p>Peluk dengan percaya diri! Biarkan kami membersihkan dan menyegarkan boneka favorit Anda.</p>
        <p class="item-price">Harga: Rp30.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price4.webp" alt="Blazer / Mantel">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Blazer / Coat</h3>
        <p>Tingkatkan tampilan profesional Anda dengan layanan pembersihan blazer/mantel ahli kami!</p>
        <p class="item-price">Harga: Rp40.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price5.jpg" alt="Topi (Kasual / Wol)">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Cap ( Casual / Woolen )</h3>
        <p>Pakai topi favorit Anda dengan bangga! Biarkan kami membersihkan dan mengembalikannya ke kondisi semula.</p>
        <p class="item-price">Harga: Rp20.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price6.jpg" alt="Sherwani">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Sherwani</h3>
        <p>Tingkatkan acara istimewa Anda dengan layanan pembersihan dan pelestarian sherwani premium kami.</p>
        <p class="item-price">Harga: Rp100.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price7.avif" alt="Jeans">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Jeans</h3>
        <p>Temukan kembali kenyamanan jeans favorit Anda dengan layanan pembersihan kami yang menyeluruh dan terpercaya.</p>
        <p class="item-price">Harga: Rp25.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price8.webp" alt="Lehenga / Ghagra">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Lehenga / Ghagra</h3>
        <p>Pelihara keindahan lehenga/ghagra kesayangan Anda dengan layanan pembersihan yang lembut dan efektif dari kami.</p>
        <p class="item-price">Harga: Rp80.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price9.jpg" alt="Sarung Tempat Tidur Ganda">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Bed Cover Double</h3>
        <p>Nikmati tidur yang bersih dan nyaman dengan layanan pembersihan sarung tempat tidur profesional kami.</p>
        <p class="item-price">Harga: Rp60.000</p>
      </div>
    </div>
    <div class="pricing-item">
      <div class="pricing-image">
        <img src="images/price10.webp" alt="Tirai">
      </div>
      <div class="pricing-description">
        <h3 class="pricing-title">Curtains</h3>
        <p>Biar sinar matahari masuk dengan layanan pembersihan tirai ahli kami, membuat rumah Anda lebih cerah dan segar.</p>
        <p class="item-price">Harga: Rp50.000</p>
      </div>
    </div>
  </div>
</section>
