<!-- components/testimonials.html -->
<section id="testimonials">
  <h2>What Our Customers Say</h2>
  <div class="testimonial-container container">
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        Soapy Suds menyelamatkan kami ketika mesin cuci dan pengering kami rusak. Mereka tepat waktu, ramah, dan pakaian selalu kembali dalam kondisi sempurna. Saya sangat merekomendasikan mereka untuk keluarga yang sibuk. 5 bintang pasti!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man1.jpg" alt="">
        </div>
        <p class="customer-name">Agastya Choudhary</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        Layanan yang luar biasa! Sangat profesional! Laundry diambil dan dikirim tepat waktu. Laundry dilipat dan dikemas rapi. Staf yang sangat ramah dan sopan, bersedia mendengarkan semua kekhawatiran. Sangat senang dengan layanan ini!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man2.jpg" alt="">
        </div>
        <p class="customer-name">Kirpal Singh</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        Kami telah menggunakan Soapy Suds untuk kebutuhan laundry bisnis kami selama beberapa tahun sekarang. Timnya sangat profesional dan memberikan layanan yang hebat. Permintaan khusus ditangani dengan cepat dan efisien. Layanan pelanggan yang luar biasa! Terima kasih Tim!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man3.jpg" alt="">
        </div>
        <p class="customer-name">Jaiden Shah</p>
      </div>
    </div>
  </div>
</section>
