<!-- components/testimonials.html -->
<section id="testimonials">
  <h2>What Our Customers Say</h2>
  <div class="testimonial-container container">
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        Soapy Suds saved us when our washer and dryer broke down. They are prompt, friendly, and the clothes always come back perfect. I highly recommend them for busy families. 5 stars for sure!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man1.jpg" alt="">
        </div>
        <p class="customer-name">Agastya Choudhary</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        Excellent service! Very professional! Laundry picked up and delivered promptly. Laundry folded and packed neatly. Very friendly and polite staff, willing to listen to all concerns. Very happy with this service!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man2.jpg" alt="">
        </div>
        <p class="customer-name">Kirpal Singh</p>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="star-rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="testimonial-text">
        We've been using Soapy Suds for our business' laundry needs for a few years now. The team is very professional and deliver some great service. Any specific requests are handled quickly and efficiently. Great customer service! Thanks Team!
      </p>
      <div class="customer-detail">
        <div class="customer-photo">
          <img src="images/man3.jpg" alt="">
        </div>
        <p class="customer-name">Jaiden Shah</p>
      </div>
    </div>
  </div>
</section>
