/* testimonials.css */

/* Testimonials Section */
#testimonials {
    padding: 5rem 0;
    background: #e9eef6;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.testimonial-box {
    text-align: center;
    padding: 1rem;
    flex: 1 1 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #123a8a;
    font-style: italic;
}

.customer-photo img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}

.customer-name {
    color: #02153a;
    font-weight: 500;
    margin-top: 0.5rem;
}

/* Responsive Styles for Testimonials */
@media(max-width:500px) {
    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }
}
