<!-- components/contact.html -->
<section id="contact">
  <div class="contact-container container">
    <div class="contact-image">
      <img src="images/contact.jpg" alt="">
    </div>
    <div class="form-container">
      <h3>Contact Us</h3>
      <form id="contact-form">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <textarea name="message" cols="30" rows="10" placeholder="Type your message here" required></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
