<!-- components/about.html -->
<section id="about">
  <h2>About Us</h2>
  <div class="about-wrapper container">
    <div class="about-text">
      <h3 class="about-head">Who We Are?</h3>
      <p>Selamat datang di situs INFFIR Company! Kami adalah tim profesional berdedikasi yang bersemangat dalam menyediakan layanan laundry berkualitas tinggi kepada pelanggan kami. Misi kami adalah mempermudah hidup Anda dengan menangani kebutuhan laundry Anda. Apakah Anda seorang profesional yang sibuk, orang tua dengan jadwal yang padat, atau sekadar mencari cara yang nyaman dan bebas repot untuk mengurus laundry Anda, kami di sini untuk membantu. Kami memahami bahwa laundry adalah tugas yang memakan waktu dan membosankan, itulah sebabnya kami menawarkan berbagai layanan yang dirancang untuk memenuhi kebutuhan Anda. Mulai dari cuci lipat hingga dry cleaning dan menyetrika, kami memiliki segala yang Anda butuhkan untuk menjaga pakaian Anda tetap terlihat terbaik.</p>
    </div>
    <div class="about-img">
      <img src="images/img1.jpg" alt="Tentang Kami">
    </div>
  </div>
  <div class="about-wrapper container">
    <div class="about-img2">
      <img src="images/img2.jpg" alt="Tentang Kami">
    </div>
    <div class="about-text2">
      <h3 class="about-head">Cleaning Solutions On A Click</h3>
      <p>Fasilitas kami yang canggih dilengkapi dengan teknologi terbaru, memastikan bahwa pakaian Anda diperlakukan dengan perawatan dan perhatian yang maksimal. Kami hanya menggunakan produk dan teknik berkualitas tertinggi untuk memastikan bahwa pakaian Anda bersih, segar, dan harum. Di situs laundry kami, kami bangga menyediakan layanan pelanggan yang luar biasa. Staf kami yang ramah dan berpengetahuan selalu siap menjawab pertanyaan apa pun yang mungkin Anda miliki dan membantu Anda memilih layanan yang paling sesuai dengan kebutuhan Anda. Jadi mengapa memilih kami untuk kebutuhan laundry Anda? Sederhana - kami menawarkan layanan berkualitas tinggi, harga kompetitif, dan layanan pelanggan yang luar biasa. Dengan kami, Anda dapat mempercayai bahwa pakaian Anda berada di tangan yang baik, dan Anda dapat menikmati ketenangan pikiran dengan mengetahui bahwa laundry Anda ditangani oleh para profesional.</p>
    </div>
  </div>
  <div class="about-wrapper container">
    <div class="about-text">
      <h3 class="about-head">Customer Gets Transparency</h3>
      <p>Selain layanan laundry kami, kami juga menawarkan opsi penjemputan dan pengantaran, membuatnya lebih nyaman bagi Anda untuk mengurus laundry Anda. Kami tahu bahwa waktu Anda berharga, dan kami ingin membuatnya semudah mungkin bagi Anda untuk menyelesaikan laundry tanpa harus meninggalkan rumah atau kantor Anda. Di situs laundry kami, kami juga sangat bangga dengan komitmen kami terhadap lingkungan. Kami menggunakan produk dan metode ramah lingkungan kapan pun memungkinkan untuk meminimalkan dampak kami terhadap lingkungan. Kami percaya dalam melakukan bagian kami untuk menciptakan masa depan yang berkelanjutan, dan kami selalu mencari cara untuk meningkatkan praktik kami dan mengurangi jejak karbon kami. Apakah Anda membutuhkan layanan laundry untuk pakaian pribadi, linen, atau bahkan seragam bisnis Anda, kami siap membantu.</p>
    </div>
    <div class="about-img">
      <img src="images/img3.jpg" alt="Tentang Kami">
    </div>
  </div>
  <div class="about-wrapper container">
    <div class="about-img2">
      <img src="images/img4.jpg" alt="Tentang Kami">
    </div>
    <div class="about-text2">
      <h3 class="about-head">Most Preferred Brand</h3>
      <p>Kami menawarkan solusi yang disesuaikan untuk semua jenis kebutuhan laundry, dan kami selalu senang bekerja sama dengan Anda untuk membuat rencana yang memenuhi kebutuhan spesifik Anda. Di situs laundry kami, kami menghargai kepuasan Anda di atas segalanya. Kami berkomitmen untuk menyediakan layanan berkualitas tinggi yang memenuhi dan melampaui harapan Anda. Kami selalu mencari cara untuk meningkatkan layanan kami dan membuat pengalaman laundry Anda lebih baik lagi. Jika Anda memiliki umpan balik atau saran, kami menyambutnya dan senang mendengarkan. Jadi, jika Anda mencari layanan laundry yang andal dan nyaman, tidak perlu mencari lagi selain situs laundry kami. Kami di sini untuk mengurus semua kebutuhan laundry Anda, sehingga Anda dapat fokus pada hal-hal yang paling penting. Hubungi kami hari ini untuk mempelajari lebih lanjut tentang layanan kami dan bagaimana kami dapat membantu Anda!</p>
    </div>
  </div>
</section>
