<!-- components/services.html -->
<section class="services" id="services">
  <h2>Our Services</h2>
  <div class="service-container container">
    <div class="service-type dry-clean">
      <div class="img-container">
        <img src="images/service1.jpg" alt="Dry Clean">
        <div class="img-content">
          <h3>Dry Cleaning</h3>
        </div>
      </div>
    </div>
    <div class="service-type laundry">
      <div class="img-container">
        <img src="images/service2.jpg" alt="Laundry">
        <div class="img-content">
          <h3>Premium Laundry</h3>
        </div>
      </div>
    </div>
    <div class="service-type steam-iron">
      <div class="img-container">
        <img src="images/service3.jpg" alt="Steam Iron">
        <div class="img-content">
          <h3>Steam Ironing</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="service-container container">
    <div class="service-type shoes-clean">
      <div class="img-container">
        <img src="images/service4.jpg" alt="Shoes Clean">
        <div class="img-content">
          <h3>Shoes Cleaning</h3>
        </div>
      </div>
    </div>
    <div class="service-type bag-clean">
      <div class="img-container">
        <img src="images/service5.jpg" alt="Bag Clean">
        <div class="img-content">
          <h3>Bag Cleaning</h3>
        </div>
      </div>
    </div>
    <div class="service-type carpet-clean">
      <div class="img-container">
        <img src="images/service8.jpg" alt="Carpet Clean">
        <div class="img-content">
          <h3>Carpet Cleaning</h3>
        </div>
      </div>
    </div>
  </div>
</section>
