/* about.css */

/* About Us Section */
#about {
    padding: 50px 0px;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.6rem;
    color: #757575;
}

.about-img, .about-img2 {
    flex: 1 1 400px;
    padding: 30px;
    opacity: 0.88;
    transition: transform 4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Menjamin gambar punya tinggi minimal */
}

.about-text, .about-text2 {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transition: transform 4s ease-in-out;
}

.about-head {
    color: #1d3b76;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.about-img img, .about-img2 img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-img img {
    object-position: right;
}

.about-img2 img {
    object-position: left;
}

.about-img img:hover, .about-img2 img:hover {
    transform: scale(1);
}

/* Jika gambar tidak ada, sembunyikan gambar dengan kelas "no-image" */
.about-img.no-image, .about-img2.no-image {
    display: none;
}

/* Responsive Styles for About Section */
@media (max-width: 500px) {
    .about-img, .about-img2, .about-text, .about-text2 {
        flex: 1 1 100%;
        padding: 20px;
    }

    .about-img img, .about-img2 img {
        height: auto;
    }
}
